* {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');
}

#perg {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

#question {
  text-align: center;
  margin-top: 10px;
  line-height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;

}

#next {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 600px;
  border-radius: 40px;

}

#prox {
  left: 20px;
  padding: 5px 38px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #171e61;
}


#logoP {
  position: absolute;
  width: 307px;
  height: 95px;
  left: 520px;
  top: 550px;

}


@media (max-width: 1024px) {

  * {
    margin: 0;
    padding: 0;
  }

  .Questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #perg {
    margin-left: 0;
    font-size: 15px;

  }

  #question {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 40px;
  }

  #options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #next {
    width: 150px;
    height: 40px;
    margin-left: 0;
    margin-top: 50px;
  }

  #prox {
    margin-left: 0;
    font-size: 25px;
    margin-top: -2px;
  }

  #logoP {
    position: inherit;
    width: 200px;
    height: 70px;
    margin-left: 0;
    margin-top: 100px;
  }

}